<ion-view view-title="Select file">
  <ion-content>
  <!--<ion-content >ng-controller="FileController">-->
    <div class="list">
      <div ng-repeat="file in files">
        <a class="item item-icon-left" href="#" ng-Click="getContents(file.nativeURL)">
          <i ng-show = "file.isDirectory" class="icon ion-folder"></i>
          <i ng-show = "file.isFile" class="icon ion-document"></i>
          {{file.name}}
        </a>
      </div>
    </div>
    <p>Test</p>
  </ion-content>
</ion-view>
