<ion-view view-title="charts">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chart in charts.curveInfo.curveArray" type="item-text-wrap" href="#/tab/charts/{{chart}}">
        <h2>{{chart}}</h2>
        <p>{{charts.curveInfo[chart+"_info"]}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chart)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
